


* {
    font-family: 'Be Vietnam Pro', sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

body {
    background-color: lightgreen;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

header > img {
    display: block;
    margin: 0 auto;
}

nav {
    background-color: aquamarine;
    border: 2px solid blueviolet;
    padding: 1rem 0;
}
ul {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

 nav ul li {
 flex: 1;
 font-size: 1.2rem;
}

ul a:hover {
    color: red;
    transition: ease-in-out 100ms;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}


h1 {
    font-size: 2rem;
    font-weight: 800;
}
main section, article {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: pink;
}

.conatainer-main {
    display: grid;
    gap: 1rem;
}

@media (min-width: 40em) {
    .conatainer-main {
        grid-template-columns: repeat(3,1fr);
    }
}

footer {
background-color: aquamarine;
display: flex;
}

footer > div {
    flex: 1;
}

/*do the main section (the three columns) as cards. Use the ::before and ::after
to change the images opacity and give them a cool effeect. 

*/
