
* {
    font-family: 'Be Vietnam Pro', sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
    border-radius: 1px;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    padding: 0;
}

header > img {
    display: block;
    margin: 0 auto;
}

nav {
    background-color: black;
    border: 2px solid black;
    padding: 1.5rem;
}
ul {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

 nav ul li {
 flex: 1;
 font-size: 1.2rem;
}

ul a:hover {
    color: #EBEBED;
    transition: ease-in-out 10ms;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.image-container {
    position: relative;
    margin: 1em;
}

.image-container::before {
    content: '';
    position: absolute;
    top:1.25em;
    bottom:1.25em;
    left:1.25em;
    right:1.25em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
    transition: ease-in-out 250ms;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
    transition: ease-in-out 250ms;
}

.image-container:hover::before {
    transform: scale(1.05, 1);
}
.image-container:hover::after {
    transform: scale(1, 1.05);
}

 .image-container > img {
    max-width: 100%;
    border-radius: 8px;
 }

.image-container > h3 {
    position: absolute;
    color: black;
    left: 26%;
    top: 40%;
    opacity: 0;
    transition: ease-in-out 250ms;
}
.image-container:hover > h3 {
    opacity: 1;
}

.image-container:hover > img {
    opacity: 0.4;
}


h1 {
    font-size: 2rem;
    font-weight: 800;
}
main section, article {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

/*book session*/
section {
    display: flex;
    justify-content: center;
}

.form-container {
    padding: 1rem;
    width: 25rem;
    border: 3px solid #030F96;
    /* background-color: rgb(212, 245, 245); */
    border-radius: 8px;
    position: relative;
}

label {
    position: absolute;
    left: 20px;
    color: #030F96;
    font-weight: bold;
}

input {
    text-align: left;
    font-size: large;
    width: 90%;
    height: 2.5rem;
    margin-bottom: 0.8rem;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px 1px gray
}

button {
    border-radius: 0.5em;
    padding: 10px 14px;
    font-size: 17px;
    margin-top: 0.6rem;
    margin-bottom: 1.3rem;
    transition: ease-in-out 250ms;
    color: white;
    background-color: black;
    border: 1px solid black;
}
button:hover {
    cursor: pointer;
    color: white;
    background-color: #030F96;
    border: 1px solid #030F96;
}

/*book session*/

.conatainer-main {
    display: grid;
    gap: 1rem;
}

footer {
    background-color: black;
    border: black;
    color: white;
    padding: 3rem;
}

@media (min-width: 40em) {
    .conatainer-main {
        grid-template-columns: repeat(3,1fr);
        border: 1px solid black;
        padding: 0 1rem;
    }
        footer {
            display: flex;
        }
        footer>div {
            flex: 1;
        }
}

