


* {
    font-family: 'Be Vietnam Pro', sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

header > img {
    display: block;
    margin: 0 auto;
}

nav {
    background-color: aquamarine;
    border: 2px solid blueviolet;
    padding: 1rem 0;
}
ul {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

 nav ul li {
 flex: 1;
 font-size: 1.2rem;
}

ul a:hover {
    color: red;
    transition: ease-in-out 100ms;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.image-container {
    position: relative;
    margin: 1em;
}

.image-container::before {
    content: '';
    position: absolute;
    top:1.25em;
    bottom:1.25em;
    left:1.25em;
    right:1.25em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
    transition: ease-in-out 250ms;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
    transition: ease-in-out 250ms;
}

.image-container:hover::before {
    transform: scale(1.05, 1);
}
.image-container:hover::after {
    transform: scale(1, 1.05);
}

 .image-container > img {
    max-width: 100%;
 }

.image-container > h3 {
    position: absolute;
    color: red;
    left: 26%;
    top: 40%;
    opacity: 0;
    transition: ease-in-out 250ms;
}
.image-container:hover > h3 {
    opacity: 1;
}

.image-container:hover > img {
    opacity: 0.4;
}


h1 {
    font-size: 2rem;
    font-weight: 800;
}
main section, article {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: pink;
}

/*book session*/
section {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 25rem;
    border: 1px solid black;
    position: relative;
}

label {
    position: absolute;
    left: 20px;
}

input {
    text-align: left;
    font-size: large;
    width: 90%;
    height: 2.5rem;
    margin-bottom: 0.7rem;
    border-radius: 0.5em;
}

button {
    border-radius: 0.5em;
    padding: 10px 14px;
    font-size: 17px;
    margin-top: 0.6rem;
    margin-bottom: 1.3rem;
    transition: ease-in-out 250ms;
    color: black;
    background-color: lightblue;
    border: 1px solid black;
}
button:hover {
    cursor: pointer;
    color: lightblue;
    background-color: black;
    border: 1px solid lightblue;
}

/*book session*/

.conatainer-main {
    display: grid;
    gap: 1rem;
}

footer {
    background-color: aquamarine;
}

@media (min-width: 40em) {
    .conatainer-main {
        grid-template-columns: repeat(3,1fr);
    }
        footer {
            display: flex;
        }
        footer>div {
            flex: 1;
        }
}

